/* Reset */
*:before, *:after { content: ''; }
hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
}

.pill {
    height: 0px;
    border-radius: 2px;
    color: teal;
    border: 2px solid currentColor;
    width: 80%;
}

#root {
    display: flex;
    justify-content: center;
}

h1 {
    padding-left: 10%;
    width: 90%;
    font-size: 42px;
}

.term {
    padding-left: 10%;
    width: 80%;
    font-size: 18px;
}

.term__header {
    font-size: 24px;
}

.term__body {
    padding-top: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;

    min-width: 200px;
    min-height: 20px;

    /*margin: 10px;*/
    padding: 12px 12px;

    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;

    color: #fff;
    background: teal;
    border: 0 none;
    border-radius: 36px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;

    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    justify-content: center;
    align-items: center;

    box-shadow: 2px 5px 10px #e4e4e4;
}

button:hover {
    transition: all 150ms linear;
    opacity: .75;
}

button:active {
    transition: all 150ms linear;
    opacity: .65;
}

button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
}
