/* Reset */
*:before, *:after { content: ''; }
hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
}

.pill {
    height: 0px;
    border-radius: 2px;
    color: teal;
    border: 2px solid currentColor;
    width: 80%;
}

#root {
    display: flex;
    justify-content: center;
}

h1 {
    padding-left: 10%;
    width: 90%;
    font-size: 42px;
}

.term {
    padding-left: 10%;
    width: 80%;
    font-size: 18px;
}

.term__header {
    font-size: 24px;
}

.term__body {
    padding-top: 10px;
    text-align: justify;
    text-justify: inter-word;
}

