.TosModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);

    justify-content: center;
    overflow-y: auto;
}

.TosContent {
    padding: 25px;
    min-width: 400px;
    border-radius: 16px;
    background: #f0ebdc;

    position: absolute;
    width: 35%;
}

.TosModal.active {
    display: flex;
}